@font-face {
  font-family: 'Minecrafter';
  src: url('../resources/Minecrafter.Reg.ttf') format('truetype');
}
body {
  background-color: #5C2041;
  background-image: url(../images/pink.jpg);
}


#screen-overlay {
  position: absolute;
  /*z-index: 90;*/
  background-color: rgba(0, 0, 0, 0.44);
  width: 100%;
  height: 100%;
}

#play-mode {
  font-size: 30px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: -8%;
  background-color: rgba(78, 38, 60, .35);;
  text-align: center;
  border-radius: 5px;
  padding: 30px;
  z-index: 1001;
  color: #fff;
}

.jumbotron {
  text-align: center;
  color: white;
  padding: 10em;
  background-color: transparent;
  z-index: 1000;
}

.jumbotron h1 {
  font-family: "Minecrafter", "Courier New", monospace;
  font-size: 100px;
  text-shadow: 10px 10px rgba(26, 26, 26, 0.8);
  z-index: 1000;
}

#final {
  display: none;
}

.container {
  display: none;
  border: 1px solid green;
  padding: 0px;
  width: 70%;
  position: relative;
}

.minesweeper-game {
  display: inline-block;
  border: 1px solid blue;
  position: absolute;
  left: 50%;
  top: 50%;
}

.beginner {
    margin: 0px 0 0 -35%;
}

.intermediate {
  margin: 0px 0 0 -35%;
}

.expert {
  margin: 0px 0 0 -35%;
}

button.levels {
  margin: 15px auto;
  margin-top: 15px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  background-color: #4e263c;
  font-size: 25px;
  padding-top: 16px;
}
/*
.cell {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  float:left;
}*/

.clicked-on {
  background-color: #ADD8E6;
}

.bomb-clicked {
  background-image: url(../images/boom-bomb.png);
  background-repeat: no-repeat;
}

.flag {
  background-image: url(../images/flag.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  margin: 0;
}

.cell {
  border: 1px solid #ddd;
  width: 30px;
  height: 30px;
  display: inline-block;
  /*margin: 1px;*/
  vertical-align: top;
}
