.cell {
  border: 1px solid black;
  height: 24px;
  width: 24px;
  float:left;
}

.clicked-on {
  background-color: #ADD8E6;
}

.bomb-clicked {
  background-image: url(../images/boom-bomb.png);
  background-repeat: no-repeat;
}

.flag {
  background-image: url(../images/flag.png);
  background-repeat: no-repeat;
  background-size: cover;
}
